@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
html {
    scroll-behavior: smooth;
}

body {
    @apply bg-background text-text;
}

/* Typography enhancements */
.prose {
    @apply max-w-none;
    /* Allow content to use full width */
}

.prose h1 {
    @apply text-3xl font-serif font-semibold mb-8;
}

.prose h2 {
    @apply text-2xl font-serif font-semibold mt-12 mb-4;
}

.prose h3 {
    @apply text-xl font-serif font-semibold mt-8 mb-3 text-text;
}

.prose p {
    @apply font-serif mb-6 leading-relaxed text-[17px];
}

/* Navigation styling */
.nav-link {
    @apply hover:text-link-hover transition-colors duration-200;
}

/* Custom link styling */
.prose a {
    @apply text-link transition-all duration-200 underline decoration-ui-normal;
    text-underline-offset: 2px;
}

.prose a:hover {
    @apply text-link-hover decoration-link-hover;
}

.prose a[href^="http"] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2.5' stroke='gray' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25' /%3E%3C/svg%3E%0A");
    background-position: right 33%;
    background-repeat: no-repeat;
    background-size: .7em;
    padding-right: .8em;
}

@layer components {

    /* Base pill styling */
    .pill {
        @apply text-xs uppercase tracking-wider px-2 py-1 rounded font-semibold transition-colors no-underline !bg-none;
    }

    /* specific color combinations */
    .pill-blue {
        @apply bg-[#e8f4f8] !text-[#1e5a7d] hover:bg-[#d6ecf5] hover: !text-[#1e5a7d];
    }

    .pill-gold {
        @apply bg-[#fdf6e8] !text-[#b8860b] hover:bg-[#f2e6cd] hover: !text-[#b8860b];
    }

    .pill-green {
        @apply bg-[#e8f5e9] !text-[#1b5e20] hover:bg-[#c8e6c9] hover: !text-[#1b5e20];
    }

    .pill-red {
        @apply bg-[#fae8e8] !text-[#9b1c1c] hover:bg-[#f5d6d6] hover: !text-[#9b1c1c];
    }

    .pill-purple {
        @apply bg-[#f3e8fd] !text-[#551a8b] hover:bg-[#e6d4fc] hover: !text-[#551a8b];
    }
}